<div class="navbar">
  <ul class="navbar-list">
    <!-- <li class="navbar-list__item"><a routerLink="/">Main</a></li>
    <li class="navbar-list__item"><a routerLink="/favorites">Favorites</a></li>
    <li class="navbar-list__item"><a routerLink="/profile">Profile</a></li>
    <li class="navbar-list__item"><a routerLink="/cart">Cart</a></li> -->

    <li class="navbar-list__item">
      <a
        mat-icon-button
        color="primary"
        matTooltip="Link"
        routerLink="/"
        aria-label="Example fab with a heart icon"
      >
        <mat-icon>home</mat-icon>
      </a>
    </li>
    <li class="navbar-list__item">
      <a
        mat-icon-button
        color="accent"
        matTooltip="Link"
        routerLink="/favorites"
        aria-label="Example fab with a heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </a>
    </li>
    <li class="navbar-list__item">
      <a
        mat-icon-button
        color="warn"
        matTooltip="Link"
        routerLink="/profile"
        aria-label="Example fab with a heart icon"
      >
        <mat-icon>account_circle</mat-icon>
      </a>
    </li>
    <li class="navbar-list__item">
      <a
        mat-icon-button
        matTooltip="Link"
        routerLink="/cart"
        aria-label="Example fab with a heart icon"
      >
        <mat-icon>shopping_cart</mat-icon>
      </a>
    </li>
  </ul>
</div>
