<div class="navbar">
  <ul class="navbar-list">
    <li class="navbar-list__item">
      <a
        mat-icon-button
        matTooltip="Link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/"
      >
        <mat-icon>home</mat-icon>
      </a>
    </li>
    <li class="navbar-list__item">
      <a
        mat-icon-button
        matTooltip="Link"
        routerLinkActive="active"
        routerLink="/favorites"
      >
        <mat-icon>favorite</mat-icon>
      </a>
    </li>
    <li class="navbar-list__item">
      <a
        mat-icon-button
        matTooltip="Link"
        routerLinkActive="active"
        routerLink="/profile"
      >
        <mat-icon>account_circle</mat-icon>
      </a>
    </li>
    <li class="navbar-list__item">
      <a
        mat-icon-button
        matTooltip="Link"
        routerLinkActive="active"
        routerLink="/cart"
      >
        <mat-icon>shopping_cart</mat-icon>
      </a>
    </li>
  </ul>
</div>
