<div class="cart-item-card">
  <div class="content-wrapper">
    <div class="left">
      <img
        src="../../../../assets/img/img-meal/burger-meal.png"
        alt=""
        class="img"
        (click)="openMealPage()"
      />
    </div>
    <div class="center">
      <p class="title">{{ cartItem.title }}</p>
      <div class="counter">de</div>
    </div>
    <div class="right">
      <div class="delete-button">
        <img
          src="../../../../assets/img/button-icons/delete.svg"
          alt=""
          (click)="deleteCartItem(cartItem.id)"
        />
      </div>
      <div class="sum">
        <strong>${{ cartItem.mealPrice }}</strong>
      </div>
    </div>
  </div>
</div>
