.counter-control-container {
  display: flex;
  // width: 50%;5
  justify-content: center;
  align-items: baseline;
  user-select: none;
  font-weight: bold;
  margin-top: 40px;
}

.round-button {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  background-color: #e04f358c;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  cursor: pointer;
}

.result {
  margin-right: 12.5%;
  margin-left: 12.5%;
}
