<div class="card">
  <div class="card-header-buttons">
    <back-button (click)="backHome()">back</back-button>
    <favourite-button
      [isClicked]="checkFavourite(meal[0].id)"
      (onClickFavourite)="onClickFavourite($event)"
      >favourites</favourite-button
    >
  </div>
  <div class="card-headers">
    <h2>{{ meal[0].title }}</h2>
    <p>{{ meal[0].subtitle }}</p>
  </div>
  <div class="card-img-container">
    <img src="../../../assets/img/img-meal/burger-meal.png" />
  </div>
  <form [formGroup]="mealForm" (change)="submitForm()">
    <size-radio-control
      class="size"
      [size]="meal[0].size"
      formControlName="sizeControl"
    ></size-radio-control>
  </form>
  <counter-control></counter-control>
</div>
