.card {
  width: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}
.card-header-buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.card-header-buttons span {
  cursor: pointer;
}

.card-headers {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-headers p {
  color: gray;
}

.card-img-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.card-img-container img {
  width: 80%;
}

.size {
  margin-top: 30px;
}

.card-footer {
  position: fixed;
  bottom: 0;
  z-index: 1001;
  width: 100%;
  height: 100px;
}

.cart-button {
  width: 50%;
  background-color: #e04e35;
  height: 100%;
}
