<div class="card">
  <div class="card-header-buttons">
    <back-button (click)="backHome()">back</back-button>
    <favourite-button>favourites</favourite-button>
  </div>
  <div class="card-headers">
    <h2>{{ meal[0].title }}</h2>
    <p>{{ meal[0].subtitle }}</p>
  </div>
  <div class="card-img-container">
    <img src="../../../assets/img/img-meal/burger-meal.png" />
  </div>
  <div class="card-footer">
    <span
      ><strong>{{ meal[0].price }}</strong></span
    >
  </div>
  <size-radio-control [size]="meal[0].size"></size-radio-control>
  <counter-control></counter-control>
</div>
