.card {
  width: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}
.card-header-buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.card-header-buttons span {
  cursor: pointer;
}

.card-headers {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-headers p {
  color: gray;
}

.card-img-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.card-img-container img {
  width: 80%;
}

.size {
  margin-top: 30px;
}

.footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.cart-button {
  width: 100%;
  background-color: #e04e35;
  padding: 20px;
  height: 100%;
  border-radius: 10px;
  border: none;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
