* {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  user-select: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.container {
  width: 390px;
  height: 100vh;
  margin: 0 auto;
  // background-color: #f8f8f5;
  background-color: white;
}
